a,
a:link,
a:visited,
a:focus {
    text-decoration: none;
    color: #000;
}

.center-to-head {
    position: relative;
}

.center-to-head::after {
    content: '';
    display: block;
    /*开始时候下划线的宽度为100%*/
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -10px;
    background: #000;
    transition: all 0.3s ease-in-out;
    /*通过transform的缩放scale来让初始时x轴为0*/
    transform: scale3d(0, 1, 1);
    /*将坐标原点移到元素的中间，以原点为中心进行缩放*/
    transform-origin: 50% 0;
}

.center-to-head:hover::after {
    /*鼠标经过时还原到正常比例*/
    transform: scale3d(1, 1, 1);
}

.index {
    margin-top: 50px;
    /* background-color: blue; */
    width: 100%;
}

.conts {
    width: 96%;
    margin: 0 auto;
}

.boxs {
    padding: 15px;
}

.boxs .tops {
    width: 100%;
    margin-bottom: 30px;
    /* height: 400px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.boxs .tops a {
    font-size: 30px;
    position: relative;
}

.boxs .tops a::after {
    content: '';
    display: block;
    /*开始时候下划线的宽度为100%*/
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -10px;
    background: #000;
    transition: all 0.3s ease-in-out;
    /*通过transform的缩放scale来让初始时x轴为0*/
    transform: scale3d(0, 1, 1);
    /*将坐标原点移到元素的中间，以原点为中心进行缩放*/
    transform-origin: 50% 0;
}

.boxs .tops a:hover::after {
    /*鼠标经过时还原到正常比例*/
    transform: scale3d(1, 1, 1);
}


/* 简介 */

.text {
    font-size: 14px;
}

.item {
    padding: 18px 0;
}